<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <script src="//upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.3.min.js"></script>
    <script>
        $(function () {
            $('.dropdown:not(#filter-bar .dropdown, .share-btn-wrap .dropdown, .share-wrap .dropdown, menuitem .dropdown)').hide();
            $('.button').click(function () {
                if ($(this).next('.dropdown:visible').length) {
                    $('.dropdown').hide();
                    $(this).next('.dropdown:visible').hide();
                } else {
                    $('.dropdown').hide();
                    $(this).next('.dropdown:hidden').show();
                }
            });

            function switchMask() {
                if ($('#mask:visible').length) {
                    $('#page-content').removeClass('blur');
                    $('#mask').toggleClass('hide');
                } else {
                    $('#page-content').addClass('blur');
                    $('#mask').toggleClass('hide');
                }
            }

            function switchModal(modalId) {
                switchMask()
                if ($(modalId + ':visible').length) {
                    $(modalId).hide();
                } else {
                    $(modalId).show();
                }
            }

            $('.checkbox-btn, .radio-btn').click(function () {
                $(this).children('.checkbox, .radio').toggleClass('selected');
            });

            $('#product-form-submit').click(function () {
                $(this).attr('disabled', true);
            });

            $('#showcase li > a').click(function () {

                $('#page-content').removeClass('blur');
                $('#confirm-wrap, .sign-form-wrap, #authorized-form-wrap, #photo-wrap, #application-alert-wrap').hide();
                $('#mask').addClass('hide');

                switch ($(this).html()) {
                    case 'Sign In':
                        switchModal('#signin-form-wrap');
                        break;
                    case 'Sign Up':
                        switchModal('#signup-form-wrap');
                        break;
                    case 'Password':
                        switchModal('#forgot-password-form-wrap');
                        break;
                    case 'Confirm':
                        switchModal('#confirm-wrap');
                        break;
                    case 'Authorized':
                        switchModal('#authorized-form-wrap');
                        break;
                    case 'Application':
                        switchModal('#application-alert-wrap');
                        break;
                    case 'Photo':
                        switchModal('#photo-wrap');
                        break;
                    case 'Report':
                        switchModal('#report-form-wrap');
                        break;
                }
            });

            $('#model-image-thumbnails li a').eq(0).addClass('selected');

            $('.dropdown-input > .dropdown-handle').click(function () {
                $(this).parent().toggleClass('selected');
            });
        });
    </script>
    <title>Document</title>
</head>
<body>
<% if(['page-404', 'page-activated'].indexOf(page) > -1) { %>
<%- include(page); %>
<% } else { %>
<div id="page-content" class="">
    <%- include('partial-header'); %>
    <%- include(page); %>
</div>
<div id="mask" class="hide">
    <%- include('partial-signin'); %>
    <%- include('partial-signup'); %>
    <%- include('partial-password'); %>
    <%- include('partial-report'); %>
    <%- include('partial-confirm'); %>
    <%- include('partial-authorized'); %>
    <%- include('partial-application-alert'); %>
    <%- include('partial-photo'); %>
</div>
<% } %>
<div id="showcase">
    <ul>
        <li><a href="element">Home</a></li>
        <li><a href="check">Check</a></li>
        <li><a href="applied-failure">Applied Failure</a></li>
        <li><a href="applied-success">Applied Success</a></li>
        <li><a href="applying-a">Applying A</a></li>
        <li><a href="applying-b">Applying B</a></li>
        <li><a href="publish">Publish</a></li>
        <li><a href="personal">Personal</a></li>
        <li><a href="checkout">Checkout</a></li>
        <li><a href="products">Products</a></li>
        <li><a href="purchases">Purchases</a></li>
        <li><a href="sales">Sales</a></li>
        <li><a href="settings">Settings</a></li>
        <li><a href="profile">Profile</a></li>
        <li><a href="following">Following</a></li>
        <li><a href="follower">Follower</a></li>
        <li><a href="model">Model</a></li>
        <li><a href="terms">Terms</a></li>
        <li><a href="404">404</a></li>
        <li><a href="activated">Activated</a></li>
        <li><a href="wallet">Wallet</a></li>
        <li><a>Sign In</a></li>
        <li><a>Sign Up</a></li>
        <li><a>Password</a></li>
        <li><a>Report</a></li>
        <li><a>Confirm</a></li>
        <li><a>Photo</a></li>
        <li><a>Authorized</a></li>
        <li><a>Application</a></li>
    </ul>
</div>
</body>
</html>