<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <!--<script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>-->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $('.dropdown').hide();
            $('.button').hover(function () {
                $(this).next('.dropdown:visible').length ?
                        $(this).next('.dropdown:visible').hide() :
                        $(this).next('.dropdown:hidden').show();
            });

            function switchMask() {
                if ($('#mask:visible').length) {
                    $('#page-content').removeClass('blur');
                    $('#mask').hide();
                } else {
                    $('#page-content').addClass('blur');
                    $('#mask').show();
                }
            }

//            switchConfirm();

            function switchConfirm() {
                switchMask()
                if ($('#confirm-wrap:visible').length) {
                    $('#confirm-wrap').hide();
                } else {
                    $('#confirm-wrap').show();
                }
            }

            $('#confirm-form').click(function () {
                switchConfirm();
            })
        });
    </script>
    <title>Document</title>
</head>
<body>
<div id="page-content" class="">
    <%- include('partial-header'); %>
    <%- include(page); %>
</div>
<div id="mask">
    <%- include('partial-signin'); %>
    <%- include('partial-signup'); %>
    <%- include('partial-confirm'); %>
</div>
</body>
</html>