<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <!--<script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>-->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $('.dropdown').hide();
            $('.button').click(function () {
                if ($(this).next('.dropdown:visible').length) {
                    $('.dropdown').hide();
                    $(this).next('.dropdown:visible').hide();
                } else {
                    $('.dropdown').hide();
                    $(this).next('.dropdown:hidden').show();
                }
            });

            function switchMask() {
                if ($('#mask:visible').length) {
                    $('#page-content').removeClass('blur');
                    $('#mask').hide();
                } else {
                    $('#page-content').addClass('blur');
                    $('#mask').show();
                }
            }

            function switchConfirm() {
                switchMask()
                if ($('#confirm-wrap:visible').length) {
                    $('#confirm-wrap').hide();
                } else {
                    $('#confirm-wrap').show();
                }
            }

            function switchSignIn() {
                switchMask()
                if ($('#signin-form-wrap:visible').length) {
                    $('#signin-form-wrap').hide();
                } else {
                    $('#signin-form-wrap').show();
                }
            }

            function switchSignUp() {
                switchMask()
                if ($('#signup-form-wrap:visible').length) {
                    $('#signup-form-wrap').hide();
                } else {
                    $('#signup-form-wrap').show();
                }
            }

            $('#confirm-form').click(function () {
                switchConfirm();
            });

            $('.checkbox-btn, .radio-btn').click(function () {
                $(this).children('.checkbox, .radio').toggleClass('selected');
            });

            $('#product-form-submit').click(function () {
                $(this).attr('disabled', true);
            });

            $('#showcase li').click(function () {

                $('#page-content').removeClass('blur');
                $('#mask, #confirm-wrap, .sign-form-wrap').hide();

                switch ($(this).html()) {
                    case 'Sign In':
                        switchSignIn();
                        break;
                    case 'Sign Up':
                        switchSignUp();
                        break;
                    case 'Confirm':
                        switchConfirm();
                        break;
                }
            });
        });
    </script>
    <title>Document</title>
</head>
<body>
<div id="page-content" class="">
    <%- include('partial-header'); %>
    <%- include(page); %>
</div>
<div id="mask">
    <%- include('partial-signin'); %>
    <%- include('partial-signup'); %>
    <%- include('partial-confirm'); %>
</div>
<div id="showcase">
    <ul>
        <li><a href="element">Home</a></li>
        <li><a href="publish">Publish</a></li>
        <li><a href="personal">Personal</a></li>
        <li><a href="checkout">Checkout</a></li>
        <li>Sign In</li>
        <li>Sign Up</li>
        <li>Confirm</li>
        <li>Dialogs</li>
    </ul>
</div>
</body>
</html>