<div class="grid five">
    <% [1, 2, 3, 4, 5].map(function(col){ %>
    <div class="column">
        <% [1, 2, 3, 4].map(function(row){ %>
        <div class="cell">
            <% if(row === 1 && col === 1){ %>
            <%- include('partial-product-card'); %>
            <div class="show-cart right">
                <div class="card-cart">
                    <ul class="detail-list">
                        <li>
                            <label>Title:</label>
                            <span>Carolyn Nguyen</span>
                        </li>
                        <li>
                            <label>Category:</label>
                            <span>game</span>
                        </li>
                        <li>
                            <label>Format:</label>
                            <span>3D MAX</span>
                        </li>
                        <li>
                            <label>Style:</label>
                            <span>Science fiction</span>
                        </li>
                        <li>
                            <label>Animation:</label>
                            <span>yes</span>
                        </li>
                        <li>
                            <label>Texture: </label>
                            <span>yes</span>
                        </li>
                        <li>
                            <label>File size: </label>
                            <span>500MB</span>
                        </li>
                        <li>
                            <label>Description:</label>
                            <p>
                                Postcards have been consistently one of the more popular collectibles and used as promotional materials. More and more business owners are turning.
                            </p>
                        </li>
                    </ul>
                    <hr>
                    <ul class="license-list">
                        <li>
                            <span>
                            <i class="icon radio"></i>
                            Economy
                            </span>
                            <span class="price">US$99</span>
                        </li>
                        <li class="selected">
                            <span>
                            <i class="icon radio-selected"></i>
                            Exclusive
                            </span>
                            <span class="price">US$199</span>
                        </li>
                    </ul>
                    <button class="add-cart-submit">
                        <i class="icon cart"></i>
                        Add to Cart
                    </button>
                </div>
                <%- include('partial-product-card'); %>
            </div>
            <% } else if(row === 1 && col === 5) { %>
            <%- include('partial-product-card'); %>
            <div class="show-cart left">
                <div class="card-cart">
                    <ul class="detail-list">
                        <li>
                            <label>Title:</label>
                            <span>Carolyn Nguyen</span>
                        </li>
                        <li>
                            <label>Category:</label>
                            <span>game</span>
                        </li>
                        <li>
                            <label>Format:</label>
                            <span>3D MAX</span>
                        </li>
                        <li>
                            <label>Style:</label>
                            <span>Science fiction</span>
                        </li>
                        <li>
                            <label>Animation:</label>
                            <span>yes</span>
                        </li>
                        <li>
                            <label>Texture: </label>
                            <span>yes</span>
                        </li>
                        <li>
                            <label>File size: </label>
                            <span>500MB</span>
                        </li>
                        <li>
                            <label>Description:</label>
                            <p>
                                Postcards have been consistently one of the more popular collectibles and used as promotional materials. More and more business owners are turning.
                            </p>
                        </li>
                    </ul>
                    <hr>
                    <ul class="license-list">
                        <li>
                            <span>
                            <i class="icon radio"></i>
                            Economy
                            </span>
                            <span class="price">US$99</span>
                        </li>
                        <li class="selected">
                            <span>
                            <i class="icon radio-selected"></i>
                            Exclusive
                            </span>
                            <span class="price">US$199</span>
                        </li>
                    </ul>
                    <button class="add-cart-submit">
                        <i class="icon cart"></i>
                        Add to Cart
                    </button>
                </div>
                <%- include('partial-product-card'); %>
            </div>
            <% } else if(row === 4 && col === 1) { %>
            <%- include('partial-product-card'); %>
            <div class="show-comment right">
                <div class="card-comment">
                    <ul class="comments-list">
                        <% [1, 2, 3, 4].map(function () { %>
                        <li>
                            <img class="portrait" src="upload/large_ch47d_chinook_helicopter_3d_model_fbx_ma_mb_17f490ce-4034-4b3d-815d-889e05f5413f.jpg" alt="" class="icon">
                            <div class="cork">
                                <h3>
                                    Fred Leonard
                                    <span class="datetime">00:46AM</span>
                                </h3>
                                <p>
                                    See The Unmatched Beauty Of The Great Lakes
                                </p>
                            </div>
                        </li>
                        <% }); %>
                    </ul>
                    <form>
                        <textarea class="comment-area" placeholder="Do you want to comment on the content of the input"></textarea>
                        <button class="send-comment-submit">
                            <i class="icon fly"></i>
                            Send comments
                        </button>
                    </form>
                </div>
                <%- include('partial-product-card'); %>
            </div>
            <% } else if(row === 4 && col === 5) { %>
            <%- include('partial-product-card'); %>
            <div class="show-comment left">
                <div class="card-comment">
                    <ul class="comments-list">
                        <% [1, 2, 3, 4].map(function () { %>
                        <li>
                            <img class="portrait" src="upload/large_ch47d_chinook_helicopter_3d_model_fbx_ma_mb_17f490ce-4034-4b3d-815d-889e05f5413f.jpg" alt="" class="icon">
                            <div class="cork">
                                <h3>
                                    Fred Leonard
                                    <span class="datetime">00:46AM</span>
                                </h3>
                                <p>
                                    See The Unmatched Beauty Of The Great Lakes
                                </p>
                            </div>
                        </li>
                        <% }); %>
                    </ul>
                    <form>
                        <textarea class="comment-area" placeholder="Do you want to comment on the content of the input"></textarea>
                        <button class="send-comment-submit">
                            <i class="icon fly"></i>
                            Send comments
                        </button>
                    </form>
                </div>
                <%- include('partial-product-card'); %>
            </div>
            <% } else { %>
            <%- include('partial-product-card'); %>
            <% } %>
        </div>
        <% }); %>
    </div>
    <% }); %>
</div>